{% extends "GhaenCollegeScrumBundle:Parent:layout.html.twig" %}
{% block container %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- Portlet Set -->
            <div class="span6 column" id="col1"> <!-- class column makes this a sortable column, id=colx is for the remember position function -->
                <!-- Portlet: Box -->
                <div class="box" id="box-0"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-bookmark"></i> Visitors <small class="hidden-phone">Unique visitors & hits</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content form-box">
                            <div class="dashboard-chart" id="dashboard-visit-chart"></div>
                        </div>
                    </div>
                </div><!--/span-->

                <!-- Portlet: Box -->
                <div class="box" id="box-1"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-map-marker"></i> Sales by Area <small class="hidden-phone">Who is buying your product</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content form-box">
                            <div class="dashboard-chart" id="dashboard-area-combo-chart"></div>
                        </div>
                    </div>
                </div><!--/span-->

                <!-- Portlet: Box -->
                <div class="box" id="box-2"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-fire"></i> Recent News <small class="hidden-phone">What is happening in the world</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content ">
                            <ul  class="news-item">
                                <li>
                                    <div class="news-date">
                                        <span>10</span>
                                        <span>Oct</span>
                                    </div>
                                    <a href="index.html#">New template for sale</a>
                                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales, mauris sit amet hendrerit convallis, velit tellus gravida erat, eu tempus metus dolor vel felis. Aliquam erat volutpat. Sed luctus, felis quis sagittis ultrices, quam tellus aliquam velit, vitae feugiat tellus sapien non dui. </p>
                                </li>
                                <li>
                                    <div class="news-date">
                                        <span>6</span>
                                        <span>Nov</span>
                                    </div>
                                    <a href="index.html#">Bootstrap templates are hot items on the web</a>
                                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales, mauris sit amet hendrerit convallis, velit tellus gravida erat, eu tempus metus dolor vel felis. Aliquam erat volutpat. Sed luctus, felis quis sagittis ultrices, quam tellus aliquam velit, vitae feugiat tellus sapien non dui. </p>
                                </li>
                                <li>
                                    <div class="news-date">
                                        <span>4</span>
                                        <span>Dec</span>
                                    </div>
                                    <a href="index.html#">Simplenso is lovely too</a>
                                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales, mauris sit amet hendrerit convallis, velit tellus gravida erat, eu tempus metus dolor vel felis. Aliquam erat volutpat. Sed luctus, felis quis sagittis ultrices, quam tellus aliquam velit, vitae feugiat tellus sapien non dui. </p>
                                </li>
                                <li>
                                    <div class="news-date">
                                        <span>30</span>
                                        <span>Jan</span>
                                    </div>
                                    <a href="index.html#">Intenso is also for sale</a>
                                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales, mauris sit amet hendrerit convallis, velit tellus gravida erat, eu tempus metus dolor vel felis. Aliquam erat volutpat. Sed luctus, felis quis sagittis ultrices, quam tellus aliquam velit, vitae feugiat tellus sapien non dui. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--/span-->
            </div>
            <!-- Portlet Set -->
            <div class="span6 column" id="col2"> <!-- class column makes this a sortable column, id=colx is for the remember position function -->
                <!-- Portlet: Box -->
                <div class="box" id="box-3"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-globe"></i> Browsers <small class="hidden-phone">What is the most popular browser?</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content form-box">
                            <div class="dashboard-chart" id="dashboard-browser-chart"></div>
                        </div>
                    </div>
                </div><!--/span-->
                <!-- Portlet: Box -->
                <div class="box" id="box-4"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-inbox"></i> Sales vs Expenses <small class="hidden-phone">Keeping your cost down</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content form-box">
                            <div class="dashboard-chart" id="dashboard-sales-bar-chart"></div>
                        </div>
                    </div>
                </div><!--/span-->
                <!-- Portlet: Box -->
                <div class="box" id="box-5"> <!-- id=box-x is used for the position storing of the boxes -->
                    <h4 class="box-header round-top "><i class="icon-comment"></i> Comments <small class="hidden-phone">This is what people are saying</small>
                        <a class="box-btn" title="close"><i class="icon-remove"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a><!-- Can be removed if not wanted -->
                        <a class="box-btn" title="config" data-toggle="modal" href="index.html#box-config-modal"><i class="icon-cog"></i></a><!-- Can be removed if not wanted -->
                    </h4>
                    <div class="box-container-toggle">
                        <div class="box-content">
                            <ul class="dashboard-member-activity">
                                <li>
                                    <a href="index.html#">
                                        <img src="assets/img/bimage/member_ph.png" class="dashboard-member-activity-avatar"/>
                                        <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>
                                    <div class="post-toolbar">
                                        <a href="index.html#"><i title="Unapprove Comment" class="icon-thumbs-down"></i> Unapprove</a> |
                                        <a data-dialog="post-reply-dialog-4" class="post-reply-btn-4"><i title="Reply" class="icon-comment"></i> Reply</a> |
                                        <a href="index.html#"><i title="Edit" class="icon-pencil"></i> Edit</a> |
                                        <a href="index.html#"><i title="Verwijder Spam markering" class="icon-ok-circle"></i> No Spam</a> |
                                        <a href="index.html#"><i title="Delete" class="icon-trash"></i> Delete</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <img src="assets/img/bimage/member_ph.png" class="dashboard-member-activity-avatar"/>
                                        <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>
                                    <div class="post-toolbar">
                                        <a href="index.html#"><i title="Unapprove Comment" class="icon-thumbs-down"></i> Unapprove</a> |
                                        <a data-dialog="post-reply-dialog-4" class="post-reply-btn-4"><i title="Reply" class="icon-comment"></i> Reply</a> |
                                        <a href="index.html#"><i title="Edit" class="icon-pencil"></i> Edit</a> |
                                        <a href="index.html#"><i title="Verwijder Spam markering" class="icon-ok-circle"></i> No Spam</a> |
                                        <a href="index.html#"><i title="Delete" class="icon-trash"></i> Delete</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <img src="assets/img/bimage/member_ph.png" class="dashboard-member-activity-avatar"/>
                                        <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>
                                    <div class="post-toolbar">
                                        <a href="index.html#"><i title="Unapprove Comment" class="icon-thumbs-down"></i> Unapprove</a> |
                                        <a data-dialog="post-reply-dialog-4" class="post-reply-btn-4"><i title="Reply" class="icon-comment"></i> Reply</a> |
                                        <a href="index.html#"><i title="Edit" class="icon-pencil"></i> Edit</a> |
                                        <a href="index.html#"><i title="Verwijder Spam markering" class="icon-ok-circle"></i> No Spam</a> |
                                        <a href="index.html#"><i title="Delete" class="icon-trash"></i> Delete</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <img src="assets/img/bimage/member_ph.png" class="dashboard-member-activity-avatar"/>
                                        <span class="blue">Comment by <strong>Member</strong> on 21/02/2012</span></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum, est at congue gravida...</p>
                                    <div class="post-toolbar">
                                        <a href="index.html#"><i title="Unapprove Comment" class="icon-thumbs-down"></i> Unapprove</a> |
                                        <a data-dialog="post-reply-dialog-4" class="post-reply-btn-4"><i title="Reply" class="icon-comment"></i> Reply</a> |
                                        <a href="index.html#"><i title="Edit" class="icon-pencil"></i> Edit</a> |
                                        <a href="index.html#"><i title="Verwijder Spam markering" class="icon-ok-circle"></i> No Spam</a> |
                                        <a href="index.html#"><i title="Delete" class="icon-trash"></i> Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--/span-->
            </div>
            <!-- Portlet Set -->
            <div class="span6 column" id="col3"> <!-- class column makes this a sortable column, id=col1 is for the remember position function -->
            </div>
            <!-- Portlet Set -->
            <div class="span6 column" id="col4"> <!-- class column makes this a sortable column, id=col1 is for the remember position function -->
            </div>
        </div><!--/span-->
        <footer>
            <p>&copy; Bluenso template 2012</p>
        </footer>
        <!-- Modal box for portlet settings popup -->
        <div id="box-config-modal" class="modal hide fade in" style="display: none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Adjust widget</h3>
            </div>
            <div class="modal-body">
                <p>This part can be customized to set box content specifix settings!</p>
            </div>
            <div class="modal-footer">
                <a href="index.html#" class="btn btn-primary" data-dismiss="modal">Save Changes</a>
                <a href="index.html#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div><!--/.fluid-container-->

{% endblock %}