<script language="JavaScript" src="{{asset('bundles/scrumassets/js/chart_js/FusionCharts.js') }}"></script>
<div class="row-fluid pull-right">
    <div class="well pull-right" style="width:200px; padding: 8px 0;">
        <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
            <ul class="nav nav-list">
                <li><label class="tree-toggler nav-header">پروژه 1</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">نسخه 1</a></li>
                        <li><a href="#">نسخه 2</a></li>
                        <li><label class="tree-toggler nav-header">Header 1.1</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header">Header 1.1.1</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">پروژه 2</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">نسخه 1</a></li>
                        <li><a href="#">Link</a></li>
                        <li><label class="tree-toggler nav-header">نسخه 1.1</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header">Header 2.2</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="chartdiv" align="center">The chart will appear within this DIV. This text will be replaced by the chart.</div>
    <script type="text/javascript">
        var myChart = new FusionCharts("{{ asset('bundles/scrumassets/fusioncharts_swf/FCF_Line.swf') }}", "myChartId", "600", "500");
        myChart.setDataURL("{{ asset('bundles/scrumassets/fusioncharts_xml/data.xml') }}");
        myChart.render("chartdiv");
    </script>
</div>
<script>
    $(document).ready(function () {
        $('.nav .nav-list').hide();
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>
